#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  float: left;
  position: relative;
  width: 100%;
}

#main-navbar ul {
  float: left;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#main-navbar ul li {
  display: block;
  float: left;
  position: relative;
  right: 50%;
}

#main-navbar ul li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

div#sidebar {
  background-color: red;
  height: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  width: 20%;
}

#sidebar {
  background-color: red;
  height: 100%;
  position: fixed;
  right:0%;
  width: 20%;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#sidebar ul li a {
  color: #fff;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

#sidebar ul li a:hover {
  background-color: #000;
}

#onpage {
  text-decoration: underline overline;
}