@font-face {
  font-family: "Virgo";
  src: url("virgo-01/virgo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Disco";
  src: url("disco-01/disco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  background-image: url("../images/beautiful-shining-stars-night-sky.jpg");
  color: #eee;
  font-family: "Disco", sans-serif;
}

th {
  font-family: "Virgo", sans-serif;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

td img {
  display: block;
  align-content: center;
  margin: auto;
}

#container {
  background-color: #111;
  box-shadow: 0 0 20px #ffffff;
  border-radius: .5em;
  margin: auto;
  width: 80%;
}

#container table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-width: 0px;
}

#planets {
  width: 100%;
  border-collapse: collapse;
}

#table-name {
  text-align: center;
  margin-bottom: 1em;
  font-family: "Virgo", sans-serif;
  font-size: 2.5em;
  color: #fff;
}

.mars-primarybg {
  background-color: #B22222;
}

.mars-secondarybg {  
  background-color: #E6B0AA;
  color: #000
}

.jupiter-primarybg {  
  background-color: #C68642; 
}

.jupiter-secondarybg { 
  background-color: #EAD7C3; 
  color: #000
}

.venus-primarybg {  
  background-color: #D4AF37;
}

.venus-secondarybg { 
  background-color: #F7E7B4;
  color: #000
}

.neptune-primarybg {  
  background-color: #1F4E79;
}

.neptune-secondarybg {
  background-color: #D6EAF8;
  color: #000
}

.super{
  bottom: .5em;
  font-size: .7em;
  position: relative;
}

.hidden {
  display: none;
}